Hi {{ username }},
{% if status == 'ready' %}
    Your document {{ filename }} has been successfully processed!
    Process started at {{ start_time }}
    Process ended at {{ end_time }}
    Total time: {{ total_time }}
    Go to <a href="{{ doc_url }}">{{ doc_url }}</a>
{% elif status == 'failed' %}
    Unfortunately, something went wrong with your document {{ filename }}.
    Please, try it again!
    Go to <a href="{{ festos_url }}">{{ festos_url }}</a>
{% else %}
    Your document {{ filename }} is still being processed.
{% endif %}
