<div class="docviewer-edition-content" id="<%= id %>">
  <pre>
    <span class="author">@<%= author %></span>
    <span class="date"><%= date_string_formatted %></span>
    <span class="pages"><%= modified_pages %></span>
    <span class="comment"><%= comment %></span>
  </pre>
</div>
