<!--<link rel='stylesheet' id='sk-style-css'  href='http://glyphicons.com/wp-content/themes/glyphicons/sk/public/css/style-new.css' type='text/css' media='screen, projection' />-->
<div class="docviewer-edition-content">
  <pre style="padding-top: 26px;">
    <span">This is the original version.</span>
    <div align="right" id="options">
      <a href="<%= text_url %>" target="_blank"><i id="export-text-button" data-ts="00000000000000000000" data-comment="Exported to text file from the original version" class="docviewer-editionLink icon-file" title="Export this version to text (.txt)" style="margin-top: 0px;">  </i></a> <a id="dropbox-saver" class="" href="<%= text_url %>" data-title="<%= doc_title %>" data-url="<%= text_url %>"><i id="export-dropbox-button" data-ts="00000000000000000000" data-comment="Restored from the original version" class="docviewer-editionLink" title="Export this version to Dropbox" style="padding-bottom: 0px;">  </i></a> <i id="restore-button" data-ts="00000000000000000000" data-comment="Restored from the original version" class="docviewer-editionLink" title="Restore and go to this version" style="padding-bottom: 0px;">  </i> <i id="cancel-restore-button" class="docviewer-editionLink icon-ban-circle" title="Cancel and go back to the current version" style="margin-top: 0px;"></i>
    </div>
  </pre>
</div>
