<!--<link rel='stylesheet' id='sk-style-css'  href='http://glyphicons.com/wp-content/themes/glyphicons/sk/public/css/style-new.css' type='text/css' media='screen, projection' />-->
<div class="docviewer-edition-content">
  <pre style="padding-top: 26px;">
    <span">This is the original version.</span>
    <div align="right" id="options">
      <i id="restore-button" data-ts="00000000000000000000" data-comment="Restored from the original version" class="docviewer-editionLink" title="Restore and go to this version">  </i> <i id="cancel-restore-button" class="docviewer-editionLink icon-ban-circle" title="Cancel and go back to the current version"></i>
    </div>
  </pre>
</div>
